body{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(252, 228, 193);
}
section{
    display: flex;
}
#decor1{
    border-left: 5px solid;
    border-color: rgb(110, 8, 8);
    padding: 0px 15px;
}
.decor2{
    padding: 20px;
    width: 250px;
    background-color: rgb(59, 43, 43);
    margin-right: 20px;
    border-radius: 15px;
    }
.decor3{
    padding: 20px;
    width: 250px;
    background-color:rgb(92, 73, 32);
    margin-right: 20px;
    border-radius: 15px;
}
.decor4{
    padding: 20px;
    width: 250px;
    background-color:rgb(46, 23, 23);
    border-radius: 15px;
}
.decor5{
    width: 300px;
    height: 300px;
    padding-right: 50px;
    padding-top: 100px;
}
.decor6{
    width: 550px;
    height: 300px;
    text-align: left;
    padding-top: 100px;
}
.pic1{
    height: 300px;
    width: 300px;
}
.pic2{
    width: 250px;
    height: 250px;
}
.pic3{
    width: 250px;
    height: 250px;
    padding: 50px 5px;
}
.ass1{
    color: rgb(184, 157, 9);
}
.ass2{
    text-decoration: none;
    color: rgb(252, 228, 193);
    background-color: rgb(110, 8, 8);
    padding: 10px 10px;
    border-radius: 8px;
}
.ass3{
    text-decoration: none;
    color: rgb(252, 228, 193);
    background-color: rgb(110, 8, 8);
    padding: 10px 10px;
    border-radius: 8px;
}
.miss1{
    width: 300px;
    padding-right: 100px;
    padding-left: 10px;
}
.miss2{
    padding-left: 100px;
    padding-right: 10px;
}
.miss3{
    margin-left: 375px;
    padding-top: 30px;
    padding-bottom: 20px;
}